@model ReporteMensualViewModel
@{
    ViewData["Title"] = "Mensual";
    int anioAnterior = Model.Anio - 1;
    int anioPosterior = Model.Anio + 1;
    var resumenMontos = new ResumenMontosViewModel()
            {
                Gastos = Model.Gastos,
                Ingresos = Model.Ingresos,
                Total = Model.Total
            };
}

<partial name="_Submenu" model="SubmenuTransacciones.Mensual" />

<h4>
    Mostrando transacciones
</h4>

<a asp-route-anio="@anioAnterior" class="btn btn-secondary">Anterior</a>
<span>@Model.Anio</span>
<a asp-route-anio="@anioPosterior" class="btn btn-secondary">Posterior</a>

<partial name="_ResumenMontos" model="@resumenMontos"/>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mes</th>
            <th>Ingresos</th>
            <th>Gastos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaccionMes in Model.TransaccionesPorMes)
        {
            <tr>
                <td>
                    <a asp-action="Index" asp-route-anio="@Model.Anio" asp-route-mes="@transaccionMes.Mes">
                        @transaccionMes.FechaReferencia.ToString("MMM");
                    </a>
                </td>
                <td class="activo">
                    @transaccionMes.Ingreso
                </td>
                <td class="gasto">
                    @transaccionMes.Gasto
                </td>
            </tr>
        }
    </tbody>
</table>


