@model ReporteTransaccionesDetalladas
@{
    var resumenMonto = new ResumenMontosViewModel()
            {
                Ingresos = Model.BalanceDepositos,
                Gastos = Model.BalanceRetiros,
                Total = Model.Total
            };
}

<partial name="_NavegarPorMeses" model="Model.FechaInicio" />

<partial name="_ResumenMontos" model="@resumenMonto"/>

@if (Model.TransaccionesAgrupadas.Count() == 0)
{
    <h5>No hay datos para mostrar</h5>
}
else
{
    <table class="table table-bordered">
        <tbody>
            @foreach (var transaccion in Model.TransaccionesAgrupadas)
            {
                <tr>
                    <td colspan="3">
                        @transaccion.FechaTransaccion.Day
                        <span class="badge bg-secondary">@transaccion.FechaTransaccion.ToString("ddd")</span>
                    </td>
                    <td class="activo">
                        @transaccion.BalanceDepositos.ToString("N")
                    </td>
                    <td class="pasivo">
                        @transaccion.BalanceRetiros.ToString("N")
                    </td>
                </tr>
                @foreach (var tr in transaccion.Transacciones)
                {
                    <tr>
                        <td>
                            <a asp-controller="transacciones" asp-action="Editar" asp-route-id="@tr.Id" asp-route-urlRetorno="@ViewBag.urlRetorno">
                                Editar
                            </a>
                        </td>
                        <td>@tr.Categoria</td>
                        <td>@tr.Cuenta</td>
                        <td class="activo">
                            @(tr.TipoOperacionId == TipoOperacion.Ingreso ? tr.Monto.ToString("N") : null)
                        </td>
                        <td class="pasivo">
                            @(tr.TipoOperacionId == TipoOperacion.Ingreso ? tr.Monto.ToString("N") : null)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}